
<%if(locals.user){%> 
	<%- include('./partials/headlogueado') %>
<%}else{%>
	<%- include('./partials/head')%>   
<%}%>

<section class="info-usuario container products-wrapper" style="padding-top: 25px;">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src="/images/avatars/<%=locals.user.avatar%>" alt="foto de perfil" class="foto-perfil">
			</div> 
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title" style="color: white;"><%= user.username %>
						<a href="/editarPerfil" class="ruedita">
							<i class="fas fa-cog"></i>
						</a>
					</h1>
				</div>
				<div>
					<ul class="">
						<li class="usuario-li"><%= users.products.length%> productos</li>

						<li class="usuario-li"><%= users.comments.length%> comentarios</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
	<div class="container products-wrapper" style="margin-top: 0px;">
		<div class="row" style="box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);">
			<div class="col-12">
				<h2 class="products-title"><%if(users.products.length == 0){%>Todavía no tienes productos <%} else{%> Mis productos<%}%></h2>
			</div>
			<!-- Show mis productos -->
			<% for(let i=0; users.products.length>i; i++){%>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/detalleProducto/<%=users.products[i].id%>">
							<figure class="product-box_image">
								<img src="/images/juegos/<%=users.products[i].urlImg%>" alt="Juego" class="imgproduct">
							</figure>
							<article class="product-box_data">
								<h2 class= "product-title"><%=users.products[i].nombreJuego%></h2>
								<p><%=users.products[i].resumen%></p>
								<p>Comentarios: <%= users.products[i].comments.length%></p>
								<p>Puntaje: <%=users.products[i].puntaje%></p>
							</article>
						</a>
					</section>
				</div>
				<%}%>
				<div class="col-12 col-sm-6 col-lg-3" style="align-self: center; text-align: center;">
					
					<a href="/agregarProducto" style="margin-bottom: 40px;">
					<i class="fas fa-plus-square" style="color: white; font-size: 150px"></i>
					<h2 style="color: white; font-size: 14px; margin-top: 0px; margin-bottom: 0px">Agregar Producto</h2>
					</a>
					
				</div>
		</div>
	</div>
	<!-- /Mis productos -->

<%- include('./partials/footer') %> 

<!--<figure class="product-box_image">
	<img src="images/products/agregarProducto.jpg" alt="Juego" class="imgproduct">
</figure>
<article class="product-box_data">
	<h2 class= "product-title">Agregar producto</h2>
</article> -->