
<%if(locals.user){%> 
	<%- include('./partials/headlogueado') %>
<%}else{%>
	<%- include('./partials/head')%>   
<%}%>


	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Todos los productos</h2>
			</div>

			<% for(let i=0; products.length>i; i++){ %>
		    <div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/detalleProducto/<%= products[i].id %>">
						<figure class="product-box_image">
							<img src="/images/juegos/<%= products[i].urlImg %>" alt="Juego" class="imgproduct">
						</figure>
						<article class="product-box_data">
							<h2 class= "product-title"><%= products[i].nombreJuego %></h2>
							<p><%= products[i].resumen %></p>
							<p>Comentarios: <%= products[i].comments.length%></p>
							<p>puntaje: <%=products[i].puntaje%></p></a>
							<a href="/otrosPerfil/<%= products[i].users.id %>"><p>Agregado por: <%=products[i].users.username %></p></a>
						</article>
					
				</section>
			</div> 
		    <% } %>
			
		</div>
	</div>

<%- include('./partials/footer') %> 